# Environments
.env
.venv/
env/
venv/
ENV/

# Data and Models
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
models/*.pkl

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# IDE
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints
