# Environments
.env
backend_repo/
.venv/
env/
venv/
ENV/

# Data and Models
data/raw/GEDEvent_v25_1.csv
models/
!models/*.pkl
# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# IDE
.vscode/
.idea/
.DS_Store

# Jupyter
.ipynb_checkpoints

# Logs & DB
*.log
*.db
nohup.out
frontend/src/
node_modules/
.DS_Store
